{% extends('base.html.twig') %}

{%  block body %}
    <h1> Welcom to Twig</h1>

    <p>  Siguiendo el tutorial de youtube:
        <link href="https://www.youtube.com/watch?v=Bo0guUbL5uo">
    </p>
{%  endblock %}